@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;

	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	font-family: sans-serif;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background-color: #0F0F0F;
}

h1 {
	font-family: 'Vollkorn', serif;
	color: #A83535;
	text-transform: uppercase;

}

h2 {
	font-family: 'Vollkorn', serif;
	color: #A83535;
	text-transform: uppercase;

}

a {
	text-decoration: none;
}


.flex {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.img-flex {
    display: block;
    width: 100%;
    margin: 0 auto;
}

i{ 
	color: #A83535;
	vertical-align: middle;
}



